<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- Link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cv">Publications</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:rkuppersj@gmail.com">Email</a></li>
            <li><a href="https://www.linkedin.com/in/roni-küppers/" target="_blank"><img src="images/linkedin.svg" alt="LinkedIn Icon" width="30" height="30"></a></li>
            <li><a href="https://x.com/RoKuppers" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
    </footer>
</body>
</html>
