<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div id="hero-heading">
			<a class="btn btn-outline" ,="" href="https://twitter.com/rokuppers" target="_blank" rel="noopener noreferrer">
				<i class="bi bi-twitter" role="img" aria-label="Twitter"></i>
				</a>
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:rkuppersj@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
